Repository SharedShithosting/Leistungsbot, changes with the labels that .github/labeler.yml gives for each.
All labels: root, AnyChange, Documentation, source, tests

.github/labeler.yml:

# Add 'root' label to any root file changes
# Quotation marks are required for the leading asterisk
root:
  - changed-files:
      - any-glob-to-any-file: '*'
# Add 'AnyChange' label to any changes within the entire repository
AnyChange:
  - changed-files:
      - any-glob-to-any-file: '**'
Documentation:
  - changed-files:
      - any-glob-to-any-file: '**/*.md'
# Add 'source' label to any change to src files within the source dir EXCEPT for the docs sub-folder
source:
  - changed-files:
      - any-glob-to-any-file: 'leistungsbot/**/*.py'
# Add 'source' label to any change to src files within the source dir EXCEPT for the docs sub-folder
tests:
  - changed-files:
      - any-glob-to-any-file: 'tests/**/*.py'
# Add 'feature' label to any PR where the head branch name starts with `feature` or has a `feature` section in the name
feature:
  - head-branch: ['^feature', 'feature']
# Add 'release' label to any PR that is opened against the `main` branch
release:
  - base-branch: 'main'

fix: /cancel outside a conversation does something
  leistungsbot/Bot.py
  tests/cancel_test.py
  tests/closepoll_test.py
Labels: AnyChange, source, tests

fix: /cancel outside a conversation does something (#101)
  leistungsbot/Bot.py
  tests/cancel_test.py
  tests/closepoll_test.py
Labels: AnyChange, source, tests

feat: keep a calendar in step with the leistungstage
  BotConfig.example
  README.md
  config_default.yaml
  leistungsbot/BotHelper.py
  leistungsbot/google_calendar.py
  leistungsbot/leistungs_calendar.py
  leistungsbot/leistungs_config.py
  leistungsbot/leistungs_db.py
  poetry.lock
  pyproject.toml
  tests/calendar_sync_test.py
  tests/google_calendar_test.py
Labels: root, AnyChange, Documentation, source, tests

feat: sync the whole database into the calendar at startup
  README.md
  leistungsbot/Bot.py
  leistungsbot/leistungs_calendar.py
  tests/calendar_sync_test.py
  tests/startup_test.py
Labels: root, AnyChange, Documentation, source, tests

feat: keep a calendar in step with the leistungstage (#102)
  BotConfig.example
  README.md
  config_default.yaml
  leistungsbot/Bot.py
  leistungsbot/BotHelper.py
  leistungsbot/google_calendar.py
  leistungsbot/leistungs_calendar.py
  leistungsbot/leistungs_config.py
  leistungsbot/leistungs_db.py
  poetry.lock
  pyproject.toml
  tests/calendar_sync_test.py
  tests/google_calendar_test.py
  tests/startup_test.py
Labels: root, AnyChange, Documentation, source, tests

feat: fall back to the container's timezone for calendar entries
  README.md
  leistungsbot/leistungs_calendar.py
  tests/calendar_sync_test.py
Labels: root, AnyChange, Documentation, source, tests

fix: let TZ decide the calendar timezone again
  leistungsbot/leistungs_config.py
Labels: AnyChange, source

fix: let TZ decide the calendar timezone again (#103)
  leistungsbot/leistungs_config.py
Labels: AnyChange, source

fix: survive the calendar's rate limit during the startup pass
  README.md
  leistungsbot/google_calendar.py
  leistungsbot/leistungs_calendar.py
  tests/calendar_sync_test.py
  tests/google_calendar_test.py
Labels: root, AnyChange, Documentation, source, tests

fix: survive the calendar's rate limit during the startup pass (#104)
  README.md
  leistungsbot/google_calendar.py
  leistungsbot/leistungs_calendar.py
  tests/calendar_sync_test.py
  tests/google_calendar_test.py
Labels: root, AnyChange, Documentation, source, tests

perf: read the calendar once instead of writing it blind
  README.md
  leistungsbot/google_calendar.py
  leistungsbot/leistungs_calendar.py
  tests/calendar_sync_test.py
  tests/google_calendar_test.py
Labels: root, AnyChange, Documentation, source, tests

fix: only publish to pypi from a v* tag (#79)
  .github/workflows/pypi-deploy.yml
Labels: AnyChange

fix: move the locked deps past their security alerts (#96)
  poetry.lock
  pyproject.toml
Labels: root, AnyChange

fix: give the callback filter back its return (#82)
  leistungsbot/Bot.py
  leistungsbot/BotHelper.py
  leistungsbot/handlers/callbacks.py
  tests/callback_dispatch_test.py
  tests/known_bugs_test.py
Labels: AnyChange, source, tests

fix: say there is no poll instead of sending an empty keyboard (#15)
  leistungsbot/handlers/lifecycle.py
  tests/known_bugs_test.py
  tests/support.py
Labels: AnyChange, source, tests

fix: clean up the pickles behind abandoned inline buttons (#97)
  leistungsbot/Bot.py
  leistungsbot/BotHelper.py
  leistungsbot/handlers/callbacks.py
  leistungsbot/handlers/general.py
  leistungsbot/handlers/locations.py
  leistungsbot/handlers/polls.py
  leistungsbot/states.py
  tests/temp_files_test.py
Labels: AnyChange, source, tests

fix: let a new command end the conversation before it (#17)
  leistungsbot/Bot.py
  leistungsbot/handlers/callbacks.py
  leistungsbot/handlers/general.py
  tests/cancel_test.py
  tests/known_bugs_test.py
Labels: AnyChange, source, tests

fix: bump genbadge past the pkg_resources removal (#96)
  poetry.lock
  pyproject.toml
Labels: root, AnyChange

docs: describe this bot rather than the one it was forked from (#51)
  README.md
Labels: root, AnyChange, Documentation

Fix every open bug on the tracker (#105)
  .github/workflows/pypi-deploy.yml
  README.md
  leistungsbot/Bot.py
  leistungsbot/BotHelper.py
  leistungsbot/handlers/callbacks.py
  leistungsbot/handlers/general.py
  leistungsbot/handlers/lifecycle.py
  leistungsbot/handlers/locations.py
  leistungsbot/handlers/polls.py
  leistungsbot/states.py
  poetry.lock
  pyproject.toml
  tests/callback_dispatch_test.py
  tests/cancel_test.py
  tests/known_bugs_test.py
  tests/support.py
  tests/temp_files_test.py
Labels: root, AnyChange, Documentation, source, tests

feat: publish the test and coverage reports to github pages (#39)
  .github/workflows/jekyll-gh-pages.yml
  .github/workflows/pages.yml
  README.md
  _config.yml
  reports.md
Labels: root, AnyChange, Documentation

fix: make the pages workflow parse (#39)
  .github/workflows/pages.yml
Labels: AnyChange

fix: let the runner add the reports to the built site (#39)
  .github/workflows/pages.yml
Labels: AnyChange

fix: let the pypi guard see a lightweight tag (#79)
  .github/workflows/pypi-deploy.yml
Labels: AnyChange

Publish the test and coverage reports to github pages, and fix the pypi tag guard (#107)
  .github/workflows/jekyll-gh-pages.yml
  .github/workflows/pages.yml
  .github/workflows/pypi-deploy.yml
  README.md
  _config.yml
  reports.md
Labels: root, AnyChange, Documentation
