Repository SharedShithosting/Leistungsbot, changes with the labels that .github/labeler.yml gives for each.
All labels: root, AnyChange, Documentation, source, tests

.github/labeler.yml:

# Add 'root' label to any root file changes
# Quotation marks are required for the leading asterisk
root:
  - changed-files:
      - any-glob-to-any-file: '*'
# Add 'AnyChange' label to any changes within the entire repository
AnyChange:
  - changed-files:
      - any-glob-to-any-file: '**'
Documentation:
  - changed-files:
      - any-glob-to-any-file: '**/*.md'
# Add 'source' label to any change to src files within the source dir EXCEPT for the docs sub-folder
source:
  - changed-files:
      - any-glob-to-any-file: 'leistungsbot/**/*.py'
# Add 'source' label to any change to src files within the source dir EXCEPT for the docs sub-folder
tests:
  - changed-files:
      - any-glob-to-any-file: 'tests/**/*.py'
# Add 'feature' label to any PR where the head branch name starts with `feature` or has a `feature` section in the name
feature:
  - head-branch: ['^feature', 'feature']
# Add 'release' label to any PR that is opened against the `main` branch
release:
  - base-branch: 'main'

Add telemulator3 (bot mock)
  poetry.lock
  pyproject.toml
Labels: root, AnyChange

Add actual poll ID into db instead of message ID
  leistungsbot/BotHelper.py
Labels: AnyChange, source

Fix
  leistungsbot/leistungs_config.py
Labels: AnyChange, source

Add python-telegram-bot
  poetry.lock
  pyproject.toml
Labels: root, AnyChange

Change database collation
  leistungsbot/leistungs_db.py
Labels: AnyChange, source

Add dialog bot
  leistungsbot/Bot.py
  leistungsbot/new_bot.py
Labels: AnyChange, source

Start adding history command
  leistungsbot/ConverstaionState.py
  leistungsbot/handler/__init__.py
  leistungsbot/handler/history.py
  leistungsbot/new_bot.py
Labels: AnyChange, source

Correct send_nudes
  leistungsbot/new_bot.py
Labels: AnyChange, source

Add timeout (which does not work yet, as JobQueue has to be added)
  leistungsbot/new_bot.py
Labels: AnyChange, source

Correct process_send_nudes parameter name
  leistungsbot/Bot.py
Labels: AnyChange, source

Add launch configuration for python-telegram-bot bot
  .vscode/launch.json
Labels: AnyChange

Correct history comnmand spelling
  leistungsbot/new_bot.py
Labels: AnyChange, source

Add custom context type
  leistungsbot/LeistungbotContext.py
  leistungsbot/handler/history.py
  leistungsbot/new_bot.py
Labels: AnyChange, source

Remove global instances of old leistungsbot and replace them with the context
  leistungsbot/handler/history.py
  leistungsbot/new_bot.py
Labels: AnyChange, source

Add message for the cancel command
  leistungsbot/new_bot.py
Labels: AnyChange, source

Move leistungspoll handlers in separate directory
  leistungsbot/Conversation.py
  leistungsbot/LeistungbotContext.py
  leistungsbot/handler/__init__.py
  leistungsbot/handler/history.py
  leistungsbot/handler/leistungspoll.py
  leistungsbot/new_bot.py
Labels: AnyChange, source

Remove creating database from .sql file
  example_db/docker-compose.yml
  example_db/leistung_db.sql
Labels: AnyChange

Implement first conversation part of leistungspoll (does not work yet)
  leistungsbot/Conversation.py
  leistungsbot/handler/leistungspoll.py
  leistungsbot/new_bot.py
Labels: AnyChange, source

Drop example-table
  example_db/leistung_db.sql
Labels: AnyChange

Add version
  .vscode/launch.json
  config_default.yaml
  leistungsbot/Bot.py
  leistungsbot/__main__.py
  leistungsbot/leistungs_config.py
  leistungsbot/package/__init__.py
  leistungsbot/package/_version.py
  pyproject.toml
Labels: root, AnyChange, source

Remove broken easteregg
  leistungsbot/Bot.py
Labels: AnyChange, source

Some minor changes
  .gitguardian.yaml
  leistungsbot/BotHelper.py
  poetry.lock
Labels: root, AnyChange, source

Some minor changes
  .gitguardian.yaml
  leistungsbot/BotHelper.py
  poetry.lock
Labels: root, AnyChange, source

Don't add the same location twice
  example_db/leistung_db.sql
  leistungsbot/Bot.py
  leistungsbot/BotHelper.py
  leistungsbot/leistungs_db.py
  leistungsbot/leistungs_returns.py
Labels: AnyChange, source

Sneaky poll
  leistungsbot/Bot.py
  leistungsbot/resources/sneaky.gif
Labels: AnyChange, source

Sneaky poll
  leistungsbot/Bot.py
  leistungsbot/resources/sneaky.gif
Labels: AnyChange, source

Add address to location button
  leistungsbot/BotHelper.py
  leistungsbot/google_place.py
Labels: AnyChange, source

Add address to location button
  leistungsbot/BotHelper.py
  leistungsbot/google_place.py
Labels: AnyChange, source

Dynamic versioning
  Dockerfile
Labels: root, AnyChange

We say Bauernschädl und ned Nervensäge
  leistungsbot/Bot.py
Labels: AnyChange, source

We say Bauernschädl und ned Nervensäge
  leistungsbot/Bot.py
Labels: AnyChange, source

Dynamic versioning
  Dockerfile
Labels: root, AnyChange

Add function to get most recent leistungstag
  leistungsbot/leistungs_db.py
Labels: AnyChange, source

Continue with swicheroo command
  leistungsbot/Bot.py
Labels: AnyChange, source

Add functions to get Leistungstag by number and switch Leistungstag locations
  leistungsbot/leistungs_db.py
Labels: AnyChange, source

Add mypy parameter config
  pyproject.toml
Labels: root, AnyChange

Finish switcheroo command
  leistungsbot/Bot.py
Labels: AnyChange, source

Fix deleting state
  leistungsbot/Bot.py
Labels: AnyChange, source

Fix f-String
  leistungsbot/Bot.py
  leistungsbot/leistungs_db.py
Labels: AnyChange, source

Add mypy parameter config
  pyproject.toml
Labels: root, AnyChange
