Repository SharedShithosting/Leistungsbot, changes with the labels that .github/labeler.yml gives for each.
All labels: root, AnyChange, Documentation, source, tests

Add function to get most recent leistungstag
  leistungsbot/leistungs_db.py
Labels: AnyChange, source

Fix deleting state
  leistungsbot/Bot.py
Labels: AnyChange, source

Continue with swicheroo command
  leistungsbot/Bot.py
Labels: AnyChange, source

Fix f-String
  leistungsbot/Bot.py
  leistungsbot/leistungs_db.py
Labels: AnyChange, source

Finish switcheroo command
  leistungsbot/Bot.py
Labels: AnyChange, source

Add functions to get Leistungstag by number and switch Leistungstag locations
  leistungsbot/leistungs_db.py
Labels: AnyChange, source

Deploy to pypi
  .github/workflows/pypi-deploy.yml
  Dockerfile
Labels: root, AnyChange

Change to new ReplyMarkup
  leistungsbot/handler/leistungspoll.py
Labels: AnyChange, source

Workaround
  .github/workflows/pypi-deploy.yml
  leistungsbot/Bot.py
Labels: AnyChange, source

Workaround
  .github/workflows/pypi-deploy.yml
  leistungsbot/Bot.py
Labels: AnyChange, source

Only deploy if release
  .github/workflows/pypi-deploy.yml
Labels: AnyChange

Deploy to docker hub
  .github/workflows/docker-image.yml
Labels: AnyChange

Update dynamic-versioning
  Dockerfile
  pyproject.toml
Labels: root, AnyChange

Change fetch depth
  .github/workflows/docker-image.yml
  .github/workflows/pypi-deploy.yml
Labels: AnyChange

Dockerfile keyword style
  Dockerfile
Labels: root, AnyChange

Allways publish with version tag
  .github/workflows/docker-image.yml
Labels: AnyChange

Add major and minor version tags
  .github/workflows/docker-image.yml
Labels: AnyChange

Add debug
  Dockerfile
  pyproject.toml
Labels: root, AnyChange

Move version
  leistungsbot/Bot.py
  leistungsbot/_version.py
  leistungsbot/package/__init__.py
  pyproject.toml
Labels: root, AnyChange, source

Upgrade poetry version
  .github/workflows/pytest.yml
Labels: AnyChange

Remove slow cache
  .github/workflows/pytest.yml
Labels: AnyChange

Feature/advanced versioning (#70)
  .github/workflows/docker-image.yml
  .github/workflows/pytest.yml
  Dockerfile
  leistungsbot/Bot.py
  leistungsbot/_version.py
  leistungsbot/package/__init__.py
  pyproject.toml
Labels: root, AnyChange, source

Add specific user context
  leistungsbot/LeistungbotContext.py
Labels: AnyChange, source

Remove handler __init__.py and rename a few things
  leistungsbot/handler/__init__.py
  leistungsbot/handlers/history.py
  leistungsbot/handlers/polls.py
  leistungsbot/new_bot.py
Labels: AnyChange, source

Get commands from command module
  leistungsbot/new_bot.py
Labels: AnyChange, source

Add file with all leistungsbot commands
  leistungsbot/Commands.py
Labels: AnyChange, source

Continue implementing leistungspoll
  leistungsbot/handler/__init__.py
  leistungsbot/handler/leistungspoll.py
Labels: AnyChange, source

Add leistungstag date preselect state
  leistungsbot/Conversation.py
Labels: AnyChange, source

Move general handlers to separate file
  leistungsbot/handlers/general.py
  leistungsbot/handlers/polls.py
  leistungsbot/new_bot.py
Labels: AnyChange, source

Add multiple general commands
  leistungsbot/Commands.py
  leistungsbot/Conversation.py
  leistungsbot/handlers/general.py
  leistungsbot/new_bot.py
Labels: AnyChange, source

Continue implementing leistungspoll
  leistungsbot/Commands.py
  leistungsbot/LeistungbotContext.py
  leistungsbot/handlers/polls.py
Labels: AnyChange, source

Add function for preselect_date_keyboard
  leistungsbot/LeistungbotContext.py
  leistungsbot/handlers/polls.py
  leistungsbot/new_bot.py
Labels: AnyChange, source

Add markdown parsing to message command
  leistungsbot/handlers/general.py
Labels: AnyChange, source

Continue implementing leistungspoll date
  leistungsbot/handlers/polls.py
  leistungsbot/new_bot.py
Labels: AnyChange, source

Continue implementing date handler
  leistungsbot/handlers/polls.py
Labels: AnyChange, source

Implement date preselect
  leistungsbot/LeistungbotContext.py
  leistungsbot/handlers/polls.py
Labels: AnyChange, source

Disable annoying pre-commit feature
  .pre-commit-config.yaml
Labels: root, AnyChange

Continue with leistungstag preview
  leistungsbot/Commands.py
  leistungsbot/LeistungbotContext.py
  leistungsbot/handlers/polls.py
Labels: AnyChange, source

Continue implementing leistungspoll preview and serious
  leistungsbot/handlers/polls.py
Labels: AnyChange, source

Add preview state and finish leistungspoll preview state
  leistungsbot/Conversation.py
  leistungsbot/handlers/polls.py
Labels: AnyChange, source

.github/labeler.yml:

# Add 'root' label to any root file changes
# Quotation marks are required for the leading asterisk
root:
  - changed-files:
      - any-glob-to-any-file: '*'
# Add 'AnyChange' label to any changes within the entire repository
AnyChange:
  - changed-files:
      - any-glob-to-any-file: '**'
Documentation:
  - changed-files:
      - any-glob-to-any-file: '**/*.md'
# Add 'source' label to any change to src files within the source dir EXCEPT for the docs sub-folder
source:
  - changed-files:
      - any-glob-to-any-file: 'leistungsbot/**/*.py'
# Add 'source' label to any change to src files within the source dir EXCEPT for the docs sub-folder
tests:
  - changed-files:
      - any-glob-to-any-file: 'tests/**/*.py'
# Add 'feature' label to any PR where the head branch name starts with `feature` or has a `feature` section in the name
feature:
  - head-branch: ['^feature', 'feature']
# Add 'release' label to any PR that is opened against the `main` branch
release:
  - base-branch: 'main'
