Repository SharedShithosting/Leistungsbot, changes with the labels that .github/labeler.yml gives for each.
All labels: root, AnyChange, Documentation, source, tests

Add unittests for the core bot workflows
  .pre-commit-config.yaml
  tests/add_location_test.py
  tests/closepoll_test.py
  tests/conftest.py
  tests/fixtures.py
  tests/google_place_test.py
  tests/history_test.py
  tests/konkurrenzpoll_test.py
  tests/leistungspoll_test.py
  tests/message_test.py
  tests/support.py
  tests/switcheroo_test.py
  tests/zusatzpoll_test.py
Labels: root, AnyChange, tests

Fix the two switcheroo bugs and unbreak pre-commit.ci
  .pre-commit-config.yaml
  leistungsbot/Bot.py
  tests/switcheroo_test.py
Labels: root, AnyChange, source, tests

Run the unit tests in CI, unbreak poetry on python 3.14
  .github/workflows/unittests.yml
  poetry.lock
Labels: root, AnyChange

Bump locked deps that have no python 3.14 wheels
  poetry.lock
Labels: root, AnyChange

Report coverage from the unittests workflow
  .github/workflows/unittests.yml
  pyproject.toml
Labels: root, AnyChange

Add unittests for the core bot workflows (#76)
  .github/workflows/unittests.yml
  .pre-commit-config.yaml
  leistungsbot/Bot.py
  poetry.lock
  pyproject.toml
  tests/add_location_test.py
  tests/closepoll_test.py
  tests/conftest.py
  tests/fixtures.py
  tests/google_place_test.py
  tests/history_test.py
  tests/konkurrenzpoll_test.py
  tests/leistungspoll_test.py
  tests/message_test.py
  tests/support.py
  tests/switcheroo_test.py
  tests/zusatzpoll_test.py
Labels: root, AnyChange, source, tests

Add an admin only /backup command
  leistungsbot/Bot.py
  leistungsbot/BotHelper.py
  leistungsbot/leistungs_db.py
  tests/backup_test.py
  tests/fixtures.py
  tests/leistungs_db_dump_test.py
  tests/support.py
Labels: AnyChange, source, tests

Add an admin only /backup command (#77)
  leistungsbot/Bot.py
  leistungsbot/BotHelper.py
  leistungsbot/leistungs_db.py
  tests/backup_test.py
  tests/fixtures.py
  tests/leistungs_db_dump_test.py
  tests/support.py
Labels: AnyChange, source, tests

Develop (#86)
  .github/workflows/unittests.yml
  .pre-commit-config.yaml
  leistungsbot/Bot.py
  leistungsbot/BotHelper.py
  leistungsbot/leistungs_db.py
  poetry.lock
  pyproject.toml
  tests/add_location_test.py
  tests/backup_test.py
  tests/closepoll_test.py
  tests/conftest.py
  tests/fixtures.py
  tests/google_place_test.py
  tests/history_test.py
  tests/konkurrenzpoll_test.py
  tests/leistungs_db_dump_test.py
  tests/leistungspoll_test.py
  tests/message_test.py
  tests/support.py
  tests/switcheroo_test.py
  tests/zusatzpoll_test.py
Labels: root, AnyChange, source, tests

Publish the container image only from main and release tags
  .github/workflows/docker-image.yml
Labels: AnyChange

Publish the container image only from main and release tags (#87)
  .github/workflows/docker-image.yml
Labels: AnyChange

Develop (#88)
  .github/workflows/docker-image.yml
Labels: AnyChange

Stop the error reporter from hiding the error it reports
  leistungsbot/Bot.py
  leistungsbot/BotHelper.py
  leistungsbot/leistungs_db.py
  pyproject.toml
  tests/conftest.py
  tests/error_reporting_test.py
  tests/leistungs_db_dump_test.py
  tests/leistungs_db_integration_test.py
Labels: root, AnyChange, source, tests

Stop the error reporter from hiding the error it reports (#89)
  leistungsbot/Bot.py
  leistungsbot/BotHelper.py
  leistungsbot/leistungs_db.py
  pyproject.toml
  tests/conftest.py
  tests/error_reporting_test.py
  tests/leistungs_db_dump_test.py
  tests/leistungs_db_integration_test.py
Labels: root, AnyChange, source, tests

Give the integration tests a database to actually run against
  .github/workflows/pytest.yml
  tests/leistungs_db_integration_test.py
Labels: AnyChange, tests

Give the integration tests a database to actually run against (#90)
  .github/workflows/pytest.yml
  tests/leistungs_db_integration_test.py
Labels: AnyChange, tests

Do not lose the whole backup to a missing SHOW VIEW privilege
  leistungsbot/BotHelper.py
  leistungsbot/leistungs_db.py
  tests/backup_test.py
  tests/leistungs_db_dump_test.py
Labels: AnyChange, source, tests

Do not lose the whole backup to a missing SHOW VIEW privilege (#91)
  leistungsbot/BotHelper.py
  leistungsbot/leistungs_db.py
  tests/backup_test.py
  tests/leistungs_db_dump_test.py
Labels: AnyChange, source, tests

Add sqlitebrowser to compose, in place of phpMyAdmin
  docker-compose.yml
Labels: root, AnyChange

Move the database from MariaDB to SQLite
  .github/workflows/pytest.yml
  BotConfig.example
  Dockerfile
  config_default.yaml
  docker-compose.yml
  leistungsbot/Bot.py
  leistungsbot/BotHelper.py
  leistungsbot/BotScheduler.py
  leistungsbot/leistungs_config.py
  leistungsbot/leistungs_db.py
  leistungsbot/schema.sql
  poetry.lock
  pyproject.toml
  tests/backup_test.py
  tests/conftest.py
  tests/error_reporting_test.py
  tests/fixtures.py
  tests/leistungs_db_dump_test.py
  tests/leistungs_db_integration_test.py
  tests/leistungs_db_test.py
  tools/mysql_to_sqlite.py
Labels: root, AnyChange, source, tests

Pin black, it and reorder-python-imports rewrite each other
  .pre-commit-config.yaml
  leistungsbot/leistungs_db.py
  tests/add_location_test.py
  tests/backup_test.py
  tests/closepoll_test.py
  tests/conftest.py
  tests/error_reporting_test.py
  tests/fixtures.py
  tests/history_test.py
  tests/konkurrenzpoll_test.py
  tests/leistungs_db_test.py
  tests/leistungspoll_test.py
  tests/message_test.py
  tests/support.py
  tests/switcheroo_test.py
  tests/zusatzpoll_test.py
  tools/mysql_to_sqlite.py
Labels: root, AnyChange, source, tests

Move the database from MariaDB to SQLite (#92)
  .github/workflows/pytest.yml
  .pre-commit-config.yaml
  BotConfig.example
  Dockerfile
  config_default.yaml
  docker-compose.yml
  leistungsbot/Bot.py
  leistungsbot/BotHelper.py
  leistungsbot/BotScheduler.py
  leistungsbot/leistungs_config.py
  leistungsbot/leistungs_db.py
  leistungsbot/schema.sql
  poetry.lock
  pyproject.toml
  tests/add_location_test.py
  tests/backup_test.py
  tests/closepoll_test.py
  tests/conftest.py
  tests/error_reporting_test.py
  tests/fixtures.py
  tests/history_test.py
  tests/konkurrenzpoll_test.py
  tests/leistungs_db_dump_test.py
  tests/leistungs_db_integration_test.py
  tests/leistungs_db_test.py
  tests/leistungspoll_test.py
  tests/message_test.py
  tests/support.py
  tests/switcheroo_test.py
  tests/zusatzpoll_test.py
  tools/mysql_to_sqlite.py
Labels: root, AnyChange, source, tests

chore: replace three pre-commit hooks with ruff
  .github/workflows/pytest.yml
  .pre-commit-config.yaml
  leistungsbot/Bot.py
  leistungsbot/BotHelper.py
  leistungsbot/google_place.py
  leistungsbot/leistungs_db.py
  poetry.lock
  pyproject.toml
  tests/add_location_test.py
  tests/backup_test.py
  tests/closepoll_test.py
  tests/conftest.py
  tests/error_reporting_test.py
  tests/fixtures.py
  tests/history_test.py
  tests/konkurrenzpoll_test.py
  tests/leistungs_db_test.py
  tests/leistungspoll_test.py
  tests/message_test.py
  tests/support.py
  tests/switcheroo_test.py
  tests/zusatzpoll_test.py
  tools/mysql_to_sqlite.py
Labels: root, AnyChange, source, tests

fix: make send_backup a method of Scheduler
  leistungsbot/BotScheduler.py
Labels: AnyChange, source

build: derive the version from the git tag everywhere
  leistungsbot/_version.py
  pyproject.toml
Labels: root, AnyChange, source

feat: put every command in one registry
  leistungsbot/Bot.py
  leistungsbot/Commands.py
  tests/commands_test.py
  tests/fixtures.py
Labels: AnyChange, source, tests

build: drop the dependencies that are never imported
  poetry.lock
  pyproject.toml
Labels: root, AnyChange

refactor: move the handlers out of __init__ onto the class
  leistungsbot/Bot.py
Labels: AnyChange, source

refactor: split the handlers into one module per workflow
  leistungsbot/Bot.py
  leistungsbot/assets.py
  leistungsbot/handlers/__init__.py
  leistungsbot/handlers/admin.py
  leistungsbot/handlers/callbacks.py
  leistungsbot/handlers/general.py
  leistungsbot/handlers/history.py
  leistungsbot/handlers/lifecycle.py
  leistungsbot/handlers/locations.py
  leistungsbot/handlers/polls.py
  leistungsbot/states.py
  tests/assets_test.py
  tests/konkurrenzpoll_test.py
Labels: AnyChange, source, tests

fix: give each user their own in-flight poll
  leistungsbot/Bot.py
  leistungsbot/handlers/callbacks.py
  leistungsbot/handlers/lifecycle.py
  leistungsbot/handlers/polls.py
  leistungsbot/states.py
  tests/concurrent_users_test.py
  tests/konkurrenzpoll_test.py
  tests/leistungspoll_test.py
  tests/support.py
  tests/zusatzpoll_test.py
Labels: AnyChange, source, tests

test: cover the scheduler, /cancel, and the open bugs
  tests/cancel_test.py
  tests/known_bugs_test.py
  tests/scheduler_test.py
  tests/temp_files_test.py
Labels: AnyChange, tests

test: require 75% coverage per file, and make the report reachable
  .github/workflows/pytest.yml
  .gitignore
  leistungsbot/handlers/admin.py
  pyproject.toml
  tests/admin_test.py
  tests/locations_test.py
  tests/sendreminder_test.py
  tests/startup_test.py
  tools/check_coverage.py
Labels: root, AnyChange, source, tests

chore: make check_coverage.py executable and re-run the formatters
  tools/check_coverage.py
Labels: AnyChange

ci: run the coverage gate in the workflow that actually runs
  .github/workflows/unittests.yml
Labels: AnyChange

ci: rename pytest.yml to integrationtests.yml, add a dev database seeder
  .github/workflows/integrationtests.yml
  .github/workflows/unittests.yml
  .gitignore
  README.md
  tests/seed_dev_db_test.py
  tools/seed_dev_db.py
Labels: root, AnyChange, Documentation, tests

chore: stop tracking example_db
  example_db/.DS_Store
  example_db/README.md
  example_db/docker-compose.yml
  example_db/leistung_db.sql
Labels: AnyChange, Documentation

fix: the cancel buttons never cancelled anything
  leistungsbot/Commands.py
  leistungsbot/handlers/callbacks.py
  leistungsbot/handlers/general.py
  tests/cancel_test.py
  tests/support.py
Labels: AnyChange, source, tests

fix: check the presser of a button, not the bot
  leistungsbot/BotHelper.py
  leistungsbot/handlers/callbacks.py
  leistungsbot/handlers/lifecycle.py
  tests/callback_permissions_test.py
  tests/fixtures.py
Labels: AnyChange, source, tests

fix: check the presser of a button, not the bot (#100)
  leistungsbot/BotHelper.py
  leistungsbot/handlers/callbacks.py
  leistungsbot/handlers/lifecycle.py
  tests/callback_permissions_test.py
  tests/fixtures.py
Labels: AnyChange, source, tests

fix: Standardize 'cancel' spelling and callback data
  leistungsbot/BotHelper.py
  leistungsbot/Commands.py
  leistungsbot/handlers/callbacks.py
  leistungsbot/handlers/general.py
  tests/callback_permissions_test.py
  tests/cancel_test.py
  tests/sendreminder_test.py
  tests/temp_files_test.py
Labels: AnyChange, source, tests

.github/labeler.yml:

# Add 'root' label to any root file changes
# Quotation marks are required for the leading asterisk
root:
  - changed-files:
      - any-glob-to-any-file: '*'
# Add 'AnyChange' label to any changes within the entire repository
AnyChange:
  - changed-files:
      - any-glob-to-any-file: '**'
Documentation:
  - changed-files:
      - any-glob-to-any-file: '**/*.md'
# Add 'source' label to any change to src files within the source dir EXCEPT for the docs sub-folder
source:
  - changed-files:
      - any-glob-to-any-file: 'leistungsbot/**/*.py'
# Add 'source' label to any change to src files within the source dir EXCEPT for the docs sub-folder
tests:
  - changed-files:
      - any-glob-to-any-file: 'tests/**/*.py'
# Add 'feature' label to any PR where the head branch name starts with `feature` or has a `feature` section in the name
feature:
  - head-branch: ['^feature', 'feature']
# Add 'release' label to any PR that is opened against the `main` branch
release:
  - base-branch: 'main'
