Repository SharedShithosting/Leistungsbot, changes with the labels that .github/labeler.yml gives for each.
All labels: root, Documentation, source, tests

Add telemulator3 (bot mock)
  poetry.lock
  pyproject.toml
Labels: root

Add actual poll ID into db instead of message ID
  leistungsbot/BotHelper.py
Labels: source

Fix
  leistungsbot/leistungs_config.py
Labels: source

Add python-telegram-bot
  poetry.lock
  pyproject.toml
Labels: root

Change database collation
  leistungsbot/leistungs_db.py
Labels: source

Add dialog bot
  leistungsbot/Bot.py
  leistungsbot/new_bot.py
Labels: source

Start adding history command
  leistungsbot/ConverstaionState.py
  leistungsbot/handler/__init__.py
  leistungsbot/handler/history.py
  leistungsbot/new_bot.py
Labels: source

Correct send_nudes
  leistungsbot/new_bot.py
Labels: source

Add timeout (which does not work yet, as JobQueue has to be added)
  leistungsbot/new_bot.py
Labels: source

Correct process_send_nudes parameter name
  leistungsbot/Bot.py
Labels: source

Add launch configuration for python-telegram-bot bot
  .vscode/launch.json
Labels: none

Correct history comnmand spelling
  leistungsbot/new_bot.py
Labels: source

Add custom context type
  leistungsbot/LeistungbotContext.py
  leistungsbot/handler/history.py
  leistungsbot/new_bot.py
Labels: source

Remove global instances of old leistungsbot and replace them with the context
  leistungsbot/handler/history.py
  leistungsbot/new_bot.py
Labels: source

Add message for the cancel command
  leistungsbot/new_bot.py
Labels: source

Move leistungspoll handlers in separate directory
  leistungsbot/Conversation.py
  leistungsbot/LeistungbotContext.py
  leistungsbot/handler/__init__.py
  leistungsbot/handler/history.py
  leistungsbot/handler/leistungspoll.py
  leistungsbot/new_bot.py
Labels: source

Remove creating database from .sql file
  example_db/docker-compose.yml
  example_db/leistung_db.sql
Labels: none

Implement first conversation part of leistungspoll (does not work yet)
  leistungsbot/Conversation.py
  leistungsbot/handler/leistungspoll.py
  leistungsbot/new_bot.py
Labels: source

Drop example-table
  example_db/leistung_db.sql
Labels: none

Add version
  .vscode/launch.json
  config_default.yaml
  leistungsbot/Bot.py
  leistungsbot/__main__.py
  leistungsbot/leistungs_config.py
  leistungsbot/package/__init__.py
  leistungsbot/package/_version.py
  pyproject.toml
Labels: root, source

Remove broken easteregg
  leistungsbot/Bot.py
Labels: source

Some minor changes
  .gitguardian.yaml
  leistungsbot/BotHelper.py
  poetry.lock
Labels: root, source

Some minor changes
  .gitguardian.yaml
  leistungsbot/BotHelper.py
  poetry.lock
Labels: root, source

Don't add the same location twice
  example_db/leistung_db.sql
  leistungsbot/Bot.py
  leistungsbot/BotHelper.py
  leistungsbot/leistungs_db.py
  leistungsbot/leistungs_returns.py
Labels: source

Sneaky poll
  leistungsbot/Bot.py
  leistungsbot/resources/sneaky.gif
Labels: source

Sneaky poll
  leistungsbot/Bot.py
  leistungsbot/resources/sneaky.gif
Labels: source

Add address to location button
  leistungsbot/BotHelper.py
  leistungsbot/google_place.py
Labels: source

Add address to location button
  leistungsbot/BotHelper.py
  leistungsbot/google_place.py
Labels: source

Dynamic versioning
  Dockerfile
Labels: root

We say Bauernschädl und ned Nervensäge
  leistungsbot/Bot.py
Labels: source

We say Bauernschädl und ned Nervensäge
  leistungsbot/Bot.py
Labels: source

Dynamic versioning
  Dockerfile
Labels: root

Add function to get most recent leistungstag
  leistungsbot/leistungs_db.py
Labels: source

Continue with swicheroo command
  leistungsbot/Bot.py
Labels: source

Add functions to get Leistungstag by number and switch Leistungstag locations
  leistungsbot/leistungs_db.py
Labels: source

Add mypy parameter config
  pyproject.toml
Labels: root

Finish switcheroo command
  leistungsbot/Bot.py
Labels: source

Fix deleting state
  leistungsbot/Bot.py
Labels: source

Fix f-String
  leistungsbot/Bot.py
  leistungsbot/leistungs_db.py
Labels: source

Add mypy parameter config
  pyproject.toml
Labels: root

.github/labeler.yml:

# Add 'root' label to any root file changes
# Quotation marks are required for the leading asterisk
root:
  - changed-files:
      - any-glob-to-any-file: '*'
# Add 'Documentation' label to any change to Markdown
Documentation:
  - changed-files:
      - any-glob-to-any-file: '**/*.md'
# Add 'source' label to any change to src files within the source dir
source:
  - changed-files:
      - any-glob-to-any-file: 'leistungsbot/**/*.py'
# Add 'tests' label to any change to src files within the tests dir
tests:
  - changed-files:
      - any-glob-to-any-file: 'tests/**/*.py'
# Add 'feature' label to any PR where the head branch name starts with `feature` or has a `feature` section in the name
feature:
  - head-branch: ['^feature', 'feature']
# Add 'release' label to any PR that is opened against the `main` branch
release:
  - base-branch: 'main'
